<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>username
            <input th:field="${users.username}" class="form-control">
        </label>
        <p class="error" th:errors="${users.username}"></p>
    </div>
    <div class="form-group">
        <label>name
            <input th:field="${users.name}" class="form-control">
        </label>
        <p class="error" th:errors="${users.name}"></p>
    </div>
    <div class="form-group">
        <label>password
            <input th:field="${users.password}" class="form-control">
        </label>
        <p class="error" th:errors="${users.password}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>